baseURL="https://myopenhab.org"
expose=( \
  "XmasTree_Switch", \
  "NurseryLamp_Switch", \
  "zwave_device_6167783f_node4_sensor_relhumidity", \
  "Nursery", \
  "NurseryLamp_ElectricMeterKWh", \
  "NurseryLamp_SensorPower", \
  "zwave_device_6167783f_node4_sensor_luminance", \
  "zwave_device_6167783f_node4_sensor_temperature", \
  "XmasTree_ElectricMeterKWh", \
  "XmasTree_SensorPower", \
  "zwave_device_6167783f_node5_alarm_flood", \
  "Bedroom_Lamp", \
  "zwave_device_6167783f_node8_sensor_door", \
  "Weather_Humidity", \
  "zwave_device_6167783f_node4_alarm_burglar", \
  "zwave_device_6167783f_node4_sensor_binary", \
  "PatioLight_Dimmer", \
  "Weather_Pressure", \
  "zwave_device_6167783f_node5_alarm_tamper2", \
  "Weather_Temperature", \
  "zwave_device_6167783f_node5_sensor_temperature2", \
)
mode="remote"
service.pid="org.openhab.openhabcloud"
