felix.fileinstall.filename="file:/M:/openHAB2/userdata/etc/org.ops4j.pax.url.mvn.cfg"
org.ops4j.pax.url.mvn.defaultRepositories="file:M:\\openHAB2\\runtime/system@id\=system.repository@snapshots,\ file:M:\\openHAB2\\userdata/tmp/kar@id\=kar.repository@multi@snapshots,\ file:M:\\openHAB2\\userdata/system@id\=child.system.repository@snapshots"
org.ops4j.pax.url.mvn.localRepository="M:\\openHAB2\\userdata/tmp/mvn"
org.ops4j.pax.url.mvn.repositories="https://dl.bintray.com/openhab/mvn/online-repo/2.3@id\=openhab"
org.ops4j.pax.url.mvn.useFallbackRepositories="false"
service.bundleLocation="?"
service.pid="org.ops4j.pax.url.mvn"
